/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}


html, body{
        /*Me permite deslizar cuando hago click en los botones*/
        scroll-behavior: smooth;
  }

/*Menu*/


#container-header {
    background: #1e2326;
    position: fixed;
    width: 100%;
    text-align: 0 0 #000;
    top: 0;
    left: 0;
    z-index: 99;
}

#container-header header {
   
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;

}

#container-header header .logo a {
    font-family: 'Righteous';
    font-size: 36px;
    color: yellow;
    text-decoration: none;

}

#container-header header ul {
    display: flex;
    list-style: none;
    text-decoration: none;
}

#container-header header ul li .a {
    cursor: pointer;
    text-decoration: none;
    text-align: none;
    font-size: 18px;
    color: #fff;
    margin: 0 15px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}


#container-header header ul li a:hover {
    color:yellow
}

#navbarTop-responsive{
    background-color: yellow;
    color:#fff;
    padding: 5px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    display: none;

}

/*Sección de inicio*/
.pic{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    
}


.inicio{
    background:linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
    url(../img/backGround_top.jpg);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}

.inicio .contenido-banner{
    padding: 20px;
    background-color: #1e2326;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.inicio .contenido-banner .pic{
    margin-top: 40px;
    border:10px solid #f6ff00;
    display: block;
    width: 100%;
    margin: auto;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

#inicio{
    width: 1263px;
    
}

.redes{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.inicio .contenido-banner h1{
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Righteous';
}

.inicio .contenido-banner h2{
    font-size: 15px;
    font-weight: normal;
    padding-bottom: 10px;
}

.inicio .contenido-banner .redes a{
    color: #f6ff00;
    display: inline-block;
    text-decoration:none;
    border: 1px solid #f6ff00;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 20px;
    font-size: 20px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inicio .contenido-banner .redes a:hover{
    background-color: #004cff;
}

/*Sobre mi*/


.sobremi{
    background-color: #1e2326;
    color :#fff;
    padding:50px 20px;
}

.sobremi .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.sobremi h2{
    font-size: 48px;
    font-family: "Righteous";
    text-align: center;
    padding: 20px 0;

}

.sobremi .contenido-seccion p{

    font:18px;
    line-height: 22px;
    margin-bottom: 20px;
    
}

.sobremi .contenido-seccion p span{

    color: #f6ff00;
    font-weight: bold;
    

}

.sobremi .fila{
    display: flex;
}

.sobremi .fila .col{
    width: 50%;
}

.sobremi .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;

}

.sobremi .fila .col ul{
    list-style: none;
}

.sobremi .fila .col ul li{
    margin: 12px 0;
}

.sobremi .fila .col ul li strong{
    display: inline-block;
    color:#f6ff00;
    width: 130px;
}

.sobremi .fila .col ul li span{
    background-color: #f6ff00;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.sobremi .fila .col .contenedor-intereses .intereses{
    display: flex;
    flex-wrap:wrap;
 
}

.sobremi .fila .col .contenedor-intereses .interes{
    width: 100px;
    height: 100px;
    background-color: #1e2326;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.sobremi .fila .col .contenedor-intereses .interes:hover{
    background-color: #019bea;
}

.sobremi button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid yellow;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size:16px;
    padding: 10px 22px;
    font-size:16px;
    color: rgb(255, 255, 255);
    z-index:10;
    z-index: -1px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.sobremi button .overLay{
    position: relative;
    top:0%;
    left: 0%;
    width: 0%;
    height: 100%;
    background-color: yellow;
    z-index: -1px;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.sobremi  button:hover {
     
     background-color: rgb(183, 191, 33);
     color: #000;
}

/*Section Skills*/

.skills{
    background-color: #1e2326;
    color :#fff;
    padding:50px 20px;
}

.skills .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.skills h2{
    font-size: 48px;
    font-family: "Righteous";
    text-align: center;
    padding: 20px 0;

}

.skills .fila{
    display: flex;
}

.skills .fila .col{
    width: 50%;
    padding: 0 20px;
    
}

.skills .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.skills span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    
}

.skills .skill .barra-skill{
    height: 8px;
    width: 80%;
    background-color: #019bea;
    position: relative;
    margin-bottom: 30px;

}

.skills .skill .progreso{
    background-color: yellow;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}

.skills .skill .barra-skill span{
    position:absolute;
    height: 40px;
    width: 40px;
    background-color: yellow;
    color: black;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
    border-radius:50px;;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    -ms-border-radius:50px;
    -o-border-radius:50px;
}

.skills .skill .barra-skill span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: yellow;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;

}

/*Clase se ingresa dinamicamente con javaScript*/

.skills .skill{
    width: 0%;
    animation: 2s javascript forwards;
    -webkit-animation: 2s javascript forwards;
}

@keyframes javascript{
    0%{
        width:0%;
     }
    100%{
        width: 75%;
    }
     
}

/*Curiculum*/

.curriculum{
    background-color: #1e2326;
    color :#fff;
    padding:50px 20px;
}

.curriculum .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.curriculum h2{
    font-size: 48px;
    font-family: "Righteous";
    text-align: center;
    padding: 20px 0;

}

.curriculum .fila{
    display: flex;
    justify-content: space-between;
}

.curriculum .fila .col{
    width: 49%;
    padding: 0 20px;
}

.curriculum .fila h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;

}

.curriculum .fila .col_izquierda{
    border-right: 2px solid #252a2e;
} 

.curriculum .fila .col_derecha{
    border-left: 2px solid #252a2e;
} 

.curriculum .fila .item{
    padding:25px;
    margin-bottom: 30px;
    background-color: #252A2E;
    position: relative;

}

.curriculum .fila .item h4{
    font-size: 20px;
    margin-bottom: 10px;

} 

.curriculum .fila .item .casa{
    color:#f6ff00;
    font-size: 22px;
    font-weight: bold;
    display: block;

}

.curriculum .fila .item .fecha{
    display: block;
    color: #f6ff00;
    margin-bottom: 10px;

}

.curriculum .fila .item p{
    line-height: 24px;
    color: white;
}

.curriculum .fila .izq{
    border-right: 2px solid #f6ff00;
    margin-right: 50px;

}

.curriculum .fila .der{
    border-left: 2px solid #f6ff00;
    margin-left: 50px;
    
}

.curriculum .fila .item .conectori{
    height: 2px;
    background-color: #f6ff00;
    width: 47px;
    position: absolute;
    top:50%;
    right: -47px;
    z-index:5;
 
}

.curriculum .fila .item .conectord{
    height: 2px;
    background-color: #f6ff00;
    width: 47px;
    position: absolute;
    top:50%;
    left:-47px;
    z-index:5;
 
}


.curriculum .fila .item .conectori .circuloi{
    display:block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #f6ff00;
    float: right;
    position: relative;
    bottom: 4px;

}

.curriculum .fila .item .conectord .circulod{
    display:block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #f6ff00;
    float: left;
    position: relative;
    bottom: 4px;
}

/*Sección Portafolio*/

.portafolio{
    background-color: #1e2326;
    color :#fff;
    padding:50px 20px;
}

.portafolio .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.portafolio h2{
    font-size: 48px;
    font-family: "Righteous";
    text-align: center;
    padding: 20px 0;

}

.portafolio .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.portafolio .galeria .proyecto{
    position:relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}

.portafolio .galeria .proyecto img{
    width: 100%;
    display: block;

}

.portafolio .galeria .proyecto .overLay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(221, 255, 0, 0.8), rgba(221, 255, 0, 0.8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;

}

.portafolio .galeria .proyecto .overLay{
    margin-bottom: 20px;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;

}

.portafolio .galeria .proyecto .overLay:hover{
    opacity: 1;
}

/*Seccion Contacto*/

.contacto{
    background-image: url();
    background-color: #1e2326;
    color: #fff;
    padding: 50px 0;

}

.contacto .contenido-seccion{
    max-width: 1100px;
    margin:auto;

}

.contacto h2{
    font-size: 48px;
    font-family: "Righteous";
    text-align: center;
    padding: 20px 0;
}

.contacto .fila{
    display: flex;

}
.contacto .col{
    width: 50%;
    padding:10px;
    position: relative;
}

.contacto .col input, .conatcto .col textarea{

    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252a2e;
    color:#fff;
    font-size: 18px;
}

.contacto button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid yellow;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size:16px;
    color: rgb(255, 255, 255);
    z-index:10;
    position: relative;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.contacto button .overLay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #f6ff009b;
    z-index: -1;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.contacto button:hover .overLay{
    width: 100%;
}
.contacto .col img{
    width: 100%;

}

.contacto .col .info{
    position: absolute;
    top: 70px;
    background-color: #252a2efe;
    color: white;
    padding: 10px;
    max-width: 460px;
    left: 50%;
    transform: translate(-50%, 50%);
    -webkit-transform: translate(-50%, 50%);
    -moz-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    -o-transform: translate(-50%, 50%);
    text-align: center;
}

.contacto .col .info ul{
    list-style: none;
}

.contacto .col .info ul li{
    margin-bottom: 20px;
    color: #ffffff;
}

.contacto .col .info ul li img{
    color:#ffffff;
    display: inline-block;
    margin-right: 20px;

}

#textArea{
    width: 100%;
}

footer{
    background-color: #252A2E;
    color: #f6ff00;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}

footer .redes{
    margin-bottom: 20px;
}

footer .redes .a{
    color: #f6ff00;
    display: inline-block;
    text-decoration:none;
    border: 1px solid #f6ff00;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 20px;
    font-size: 20px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .arriba{
    display: flex;
    align-items: center;
    display: flex;
    width: 50px;
    height: 50px;
    background-color: #f6ff00;
    color: #ffff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
    justify-content: center;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    
}

footer .arriba img{
    width: 37px;
    height: 37px;
}

footer .arriba:hover{
    background-color: #019bea;
}